body{
    margin: 0px;
    font-size: 10px;
}
.product{
    margin: 100px auto;
    width: 1450px;
    height: 420px;
    position: relative;
}
.product-box{
    display: inline-block;
    position: relative;
    box-shadow: 1px 1px 2px gray;
    border: 0.5px solid rgb(175, 171, 171);
    border-radius: 3px;
    width: 23%;
    height: 100%;
    margin-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.product>i{
    position: absolute;
    z-index: 1;
    font-size: 3em;
    top: 45%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9BC663;
    color: white;
    align-content: center;
}
.product>i:first-child{
    left: -20px;
}
.product>i:last-child{
    right: 33px;
}
.product-box i{
    position: absolute;
    font-size: 2.5em;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    top: 10px;
    left: 10px;
}
.product-box span{
    position: absolute;
    font-size: 1.5em;
    background-color: #698E48;
    width: 100px;
    height: 25px;
    padding: 3px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    right: -8px;
    top: 10px;
}
.product-box img{
    margin-top: 85px;
    margin-left: 65px;
    margin-bottom: 80px;
}
.product-box p{
    font-size: 1.4em;
    background-color: #EB4C4E;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-box h2{
    text-decoration: line-through;
}
.product-box h1:first-child{
    margin-top: 30px;
}
.product-box a{
    text-decoration: none;
    background-color: #80BB3C;
    color: white;
    font-size: 1.4em;
    width: 105px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.product-box a i{
    font-size: 1.4em;
    margin-right: 10px;
    color: white;
    border: none;
}